<agent_config>
  <wodle name="syscollector">
    <disabled>no</disabled>
    <interval>2m</interval>
    <scan_on_start>yes</scan_on_start>
    <hardware>yes</hardware>
    <os>yes</os>
    <network>yes</network>
    <packages>yes</packages>
    <ports all="no">yes</ports>
    <processes>yes</processes>
    <users>yes</users>
    <groups>yes</groups>
    <services>yes</services>
    <synchronization>
      <max_eps>20</max_eps>
    </synchronization>
  </wodle>
</agent_config>
